@import "tailwindcss";

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #3e3e5c;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: 1px solid #63638a;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #66435f;
}
